<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Blockchain</a>
    <div class="navbar-collapse show" id="navbarSupportedContent"> <!-- Removido o botão e ajustada a classe para exibir os itens -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/wallets">Carteiras</a>
        </li>
      </ul>
      <div class="d-flex" role="search">
        <input class="form-control me-2" [(ngModel)]="query" type="search" placeholder="Procurar Por Blocos , Transações ou Carteiras" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" (click)="search()">Pesquisar</button>
      </div>
    </div>
  </div>
</nav>